<section class="hero py-16">
    <div class="container mx-auto flex items-center justify-between">
        <div class="w-1/2">
            <h6 class="text-lg"><em>Namaskar</em></h6>
            <h1 class="text-3xl md:text-6xl font-bold">Ham "ADMIN" hai. Menu to hamari hi pasand ka lagega.</h1>
            <!-- <button class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary">Order Now</button> -->
        </div>
        <div class="w-1/2">
            <img src="/img/chef.png" alt="" style = "height:450px">
        </div>
    </div>
</section>
<div class = "txt_1">Upload the Item</div>
<section class="flex justify-center pt-24">
    
    <form action="/uploadItem" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <% if(messages.error) { %>
        <span class="text-red-500 text-sm"><%= messages.error %></span>
        <% } %>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                Item name
            </label>
            <input name="item"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="item" type="text" placeholder="Enter the Item name">
        </div>
        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                Price
            </label>
            <input name="price"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                id="price" type="number" placeholder="0">
        </div>
        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                Add image
            </label>
            <input name="image"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                id="image" type="file" placeholder="add">
        </div>
        <div class="flex items-center justify-between">
            <button
                class="btn-primary rounded-full text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="submit">
                submit
            </button>
        </div>
    </form>
</section>
<section class="menu container mx-auto py-8">
    <h1 class="text-xl font-bold mb-8">Admin items to add</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 col-gap-12 row-gap-16">
        <% pizzas.forEach(function(pizza) { %>
            <% console.log(pizza) %>
        <div class="w-full md:w-64">
            
            <img class="h-40 mb-4 mx-auto" src="/img/<%= pizza.image %>" alt="" style = "border-radius:10%">
            <div class="text-center">
                <h2 class="mb-4 text-lg"><%= pizza.name %></h2>
                <!-- <span class="size py-1 px-4 rounded-full uppercase text-xs"><%= pizza.size %></span> -->
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹<%= pizza.price %></span>
                    <!-- <button data-pizza="<%= JSON.stringify(pizza) %>"
                        class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button> -->

                </div>
            </div>
            <div class = "gap">
                <!-- <a
                    class="btn-primary rounded-full text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    href="/PublishItem/<%= pizza._id %>"
                    style = "margin-left: 25px; ">
                     <% if(messages.error) { %>
                        <span class="text-red-500 text-sm"><%= messages.error %></span>
                        <% } %> -->
                    <!-- <% if(pizza.publish){ %>
                        UnPublish
                    <% }else{ %>
                        Publish -->
                    <!-- <% } %> -->
                <!-- </a> -->
                <a 
                    class="btn-primary rounded-full text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline " 
                    href="/deleteItem/<%= pizza._id %>"
                    style = "margin-left: 80px; ">
                    Remove
                </a>
            </div>
        </div>
        <% }) %>

    </div>
</section>